<a href="https://colab.research.google.com/github/vidhya130401-a11y/Hospital/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## String Concatenation

In [ ]:
Title = "Hello"

In [ ]:
name = input(" Enter your name: Zara")

 Enter your name: ZaraZara

In [ ]:
Output = Title + name

In [ ]:
print(Output)

HelloZara

In [ ]:
Output += " , welcome to python programming"

In [ ]:
print(Output)

HelloZara , welcome to python programming

## String Slicing and Indexing

In [ ]:
# a. first charater
print("first charater:", Output[0])

first charater: H

In [ ]:
# b.last charater
print("last charater:", Output[-1])

last charater: g

In [ ]:
# c. first 5 charater
print("first 5 charater:", Output[:5])

first 5 charater: Hello

In [ ]:
# d. last 11 charater
print("last 11 charater:", Output[-11:])

last 11 charater: programming

In [ ]:
# e. string in reverse
print("string in reverse:", Output[::-1])

string in reverse: gnimmargorp nohtyp ot emoclew , araZolleH

In [ ]:
start_index = Output.find("python")

In [ ]:
end_index = start_index + len("phython")

In [ ]:
# f. python existing
# find the satering inedex in "python"
print("Extracted world:", Output[start_index:end_index])

Extracted world: python

## String methods

In [ ]:
strM = "Python beginner tutorial"

In [ ]:
# a. uppercase
print("uppercase", strM.upper())

uppercase PYTHON BEGINNER TUTORIAL

In [ ]:
# b. lowercase
print("lowecase", strM.lower())

lowecase python beginner tutorial

In [ ]:
# c. capitalize
print("capitalize", strM.capitalize())

capitalize Python beginner tutorial

In [ ]:
# d. count of 't'
print("count of 't'", strM.count('t'))

count of 't' 3

In [ ]:
from os import replace
# e. replaced "Python" with "Machine Larning"
strM_replaced = strM.replace("Python", "Machine Learning")
print("Python", strM_replaced)

Python Learning beginner tutorial

## Tuples

In [ ]:
# two tuple
tuple1 = (10, 20, 30)
tuple2 = (40,50,60)

In [ ]:
# a. Concatenate the two tuple
t_combine = tuple1 + tuple2
print("concatenated tuple:", t_combine)

concatenated tuple: (10, 20, 30, 40, 50, 60)

In [ ]:
# b. repeat element of "t_combine" 3 times
t_combine_repeat = t_combine *3
print("repeated tuple:", t_combine_repeat)

repeated tuple: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [ ]:
# c. access the 3rd elements (index 2)
print("3rd elements:", t_combine[2])

3rd elements: 30

In [ ]:
# d. first three elemends
print("first 3 elements:", t_combine[:3])

first 3 elements: (10, 20, 30)

In [ ]:
# e. last three elements
print("last 3 elements:", t_combine[-3:])

last 3 elements: (40, 50, 60)